<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846744228709-nabqkeu90gatlfqonqck2cn2u4bqtv1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846744228709-nabqkeu90gatlfqonqck2cn2u4bqtv1j</string>
	<key>API_KEY</key>
	<string>AIzaSyCYRJIe_UY2K60f8PXHemYYY4-ht8ETVDI</string>
	<key>GCM_SENDER_ID</key>
	<string>846744228709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TravelByBit</string>
	<key>PROJECT_ID</key>
	<string>travelbybit-8b88b</string>
	<key>STORAGE_BUCKET</key>
	<string>travelbybit-8b88b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846744228709:ios:148747504472dd73</string>
	<key>DATABASE_URL</key>
	<string>https://travelbybit-8b88b.firebaseio.com</string>
</dict>
</plist>